# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Downloaded files
uploads/*
!uploads/.gitkeep
!uploads/videos/.gitkeep
!uploads/audio/.gitkeep

# OS files
.DS_Store
Thumbs.db
